/****************** reset***************/
img {
  width: 100%;
  height: auto;
  display: block;
}
/* 
@media (min-width: 768px) {
  .grid_4col_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
} */
/* kommentar är command shift 7. Man kan också highligta för att göra det offline/inte aktivt.  */

/**********************'desktop*********************/
@media (min-width: 1200px) {
  .grid_4col_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    img {
      align-self: stretch;
      object-fit: cover;
    }
  }
}

.img1 {
  grid-column: span 2;
  grid-row: 1/3;
}

.img4 {
  grid-column: span 2;
}
